<ul class="menu">
     {% for link in menu %}
    <li>
        <a href="{%  url link.href %}"
             class="{% if request.resolver_match.view_name == link.href   %}
              active
              {% endif %}">
            {{ link.name }}
        </a>

    </li>
    {% endfor %}

    {% if user.is_superuser %}
        <li>
          <a href="{% url 'admin:users' %}">админка</a>
        </li>
     {% endif %}

    {% if user.is_authenticated %}
    <li>
        <a href="{% url  'auth:logout' %}"> выйти</a>
        {{ user.first_name|default:'Пользователь'}}
    </li>
    {% else %}
     <li>
        <a href="{% url  'auth:login' %}"> войти</a>
    </li>

    {% endif %}
</ul>
{{ basket.0 }}
<a href="{% url 'basket:view' %}" class="basket">
    <span>
        {% if basket %}

        {{ basket.0.total_cost|floatformat:0 }} руб
        ({{ basket.0.total_quantity }} шт)

        {% endif %}
    </span>
</a>